Source: ros-rolling-play-motion-builder
Section: misc
Priority: optional
Maintainer: davidfernandez <david.fernandez@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), libyaml-cpp-dev, ros-rolling-ament-cmake-auto, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-play-motion-builder-msgs, ros-rolling-play-motion2, ros-rolling-play-motion2-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-action, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-play-motion-builder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-cpp-dev, ros-rolling-play-motion-builder-msgs, ros-rolling-play-motion2, ros-rolling-play-motion2-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-action, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: The play_motion_builder package, a node to handle the creation of new motions for play_motion.
